{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Inscription</h1>
    {{form(form)}}


    <a href="{{ path('app_index') }}" class="btn btn-primary btn-block">Retour à la page d'accueil</a>
    </div>
{% endblock %}