body {
  // background-image: url("https://i.pinimg.com/originals/81/7e/c2/817ec2cfbc383e10a0562f2fdfebfcab.jpg");
  background-image: url("http://www.gsfdcy.com/data/img/67/1912143-pokemon-wallpaper.jpg");
  color: white;
}

.form-container {
  background-color: white;
  width: 400px;
  padding: 30px 40px 40px 40px;
  margin-top: 50px;
  box-shadow: 1px 1px 18px #292929;
  border: 1px solid #cb0000;
}

.btn-margin {
  margin-top: 32px;
}

label {
  color: #292929;
  text-transform: uppercase;
}

input {
  margin-bottom: 15px;
}
