// Badge types

.badge-type {
  font-size: 16px;
}

.badge-type-Acier {
  background-color: #9eb7b8;
  color: white;
}

.badge-type-Combat {
  background-color: #d56723;
  color: white;
}

.badge-type-Dragon {
  background-color: #05f4b6;
  color: #272727;
}

.badge-type-Eau {
  background-color: #4592c4;
  color: white;
}

.badge-type-Feu {
  background-color: #fd7d24;
  color: white;
}

.badge-type-Fée {
  background-color: #fdb9e9;
  color: #272727;
}

.badge-type-Glace {
  background-color: #51c4e7;
  color: white;
}

.badge-type-Insecte {
  background-color: #729f3f;
  color: white;
}

.badge-type-Normal {
  background-color: #a4acaf;
  color: white;
}

.badge-type-Plante {
  background-color: #9bcc50;
  color: white;
}

.badge-type-Poison {
  background-color: #b97fc9;
  color: white;
}

.badge-type-Psy {
  background-color: #f366b9;
  color: white;
}

.badge-type-Roche {
  background-color: #a38c21;
  color: white;
}

.badge-type-Sol {
  background-color: #9fa33f;
  color: white;
}

.badge-type-Spectre {
  background-color: #7b62a3;
  color: white;
}

.badge-type-Ténèbre {
  background-color: #707070;
  color: white;
}

.badge-type-Vol {
  background-color: #272570;
  color: white;
}

.badge-type-Électrique {
  background-color: #eed535;
  color: #272727;
}
