$theme-colors: (
        "primary": #cb0000
);

@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Didact Gothic', sans-serif;
}

.header {
  height: 900px;
  background-image: url("https://image.ibb.co/eujVBy/pokemon_15514_1920x1200.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.actual-ad {
  background-color: #ffffff;
}

.cards-bloc {
  margin-top: 20px;

}

.cards-custom {
  &:hover {
    box-shadow: 1px 1px 5px #cb0000;
  }
}

.main-title {
  font-weight: bold;
  padding: 2px 10px;
  background-color: #cb0000;
  display: inline;
  color: white;
  margin-bottom: 100px;
}

.btn-poke {
  font-weight: bolder;
  background-color: #cb0000;
  color: white;
  border-radius: 0;
}

.autocomplete-custom {
  margin-top: -15px;
  margin-left: -40px;
}

.one-item:hover {
  background-color: #cb0000;
  color: white;
  font-weight: bolder;
}

.ads-count {
  font-size: 20px;
}

.search-margin{
  margin-top: 10px;
}

.scroll-link {
  margin-top: 500px;
}

.btn-primary {
  border-radius: 0;
}