@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Didact Gothic', sans-serif;
}

.header {
  height: 500px;
  background-image: url("http://cdn.artwallpaperhi.com/1920x1080/20121220/pokemon%20background%20pokeball%201920x1080%20wallpaper_www.artwallpaperhi.com_93.jpg");

}
