{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Résultats</h1>
        <div class="row">
            {% for result in results %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card hovercard cards-custom">
                        <div class="cardheader">
                        </div>
                        <div class="avatar">
                            <img alt="" src="{{ result.pokemon.image }}">
                        </div>
                        <div class="info">
                            <div class="title font-weight-bold">
                                <a target="_blank" href="https://scripteden.com/">{{ result.pokemon.name }}</a>
                            </div>
                            <div class="desc price-card">{{ result.price }}€</div>
                        </div>
                        <div class="bottom">
                            <a href="{{ path('ad_show', {'id': result.id}) }}" class="btn btn-primary btn-block mt-3">Voir l'annonce</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}