<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AdopteUnPokemon.com{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
