{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <h1>{{ dump(app.user) }}</h1>
        {% else %}
            <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
            <a href="{{ path('register') }}" class="btn btn-primary">S'inscrire</a>
        {% endif %}

        <h1>Adopte un Pokemon</h1>
    </div>

{% endblock %}
