{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1>Adopte un Pokemon</h1>
    </div>

{% endblock %}
