{% extends 'base.html.twig' %}

{% block body %}
    <header class="header bg-primary">

    </header>
    <div class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="text-center mt-5">EN VENTE ACTUELLEMENT</h1>

        <div class="row">
        {% for ad in ads %}
            <div class="card col-3 m-2">
                <img class="card-img-top" src="https://i.pinimg.com/originals/06/13/9a/06139af3e366eca68647ba0f9eb6a123.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ ad.title }}</h5>
                    <a href="{{ path('ad_show', {'id': ad.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
