<div class="col-12 col-lg-3">
    <div class="description mt-5" >
        <h4>Menu</h4>
        <hr>
        <div class="list-group">
            <a href="{{ path('app_ads_on_sell') }}" class="list-group-item" id="group1">Mes Pokémon en vente</a>
            <a href="{{ path('app_ads_sold') }}" class="list-group-item" id="group2">Mes Pokémon vendus</a>
            <a href="{{ path('app_member_fav') }}" class="list-group-item" id="group3">Mes favoris</a>
            <a href="{{ path('app_member_profile') }}" class="list-group-item" id="group4">Mon profil</a>
        </div>
    </div>
</div>