{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    {% if result.isSold %}
        <h1>{{ result.title }}</h1>
        <h2>Désolé, ce pokémon n'est plus à vendre</h2>
    {% else %}
        <h1>{{ result.title }}</h1>

        <img src="https://i.pinimg.com/originals/06/13/9a/06139af3e366eca68647ba0f9eb6a123.jpg" alt="pokemon_name">
        <h2>Description</h2>
        <p>{{ result.description }}</p>

        <h2>Caractéristiques</h2>
        <p></p>

        <h2>Contacter le vendeur</h2>


    {% endif %}

    <a href="{{ path('ads_list') }}" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}